
// brand and logo colors
$green-primary: #6CC24A; // brand green
$gray-primary:	#333333; // brand gray
$gray-secondary:	#212121; // shadows gray


// text colors
$text-primary: #FFFFFF;
$text-secondary: #D7D7D7;

$bg-primary: #3A3A3A;
